# Vendor & storage
/vendor/
/storage/logs/*
/storage/cache/*
!.gitkeep

# Operating System & Temporary Files
.DS_Store
Thumbs.db
*.log
error_log
*.zip
.user.ini
php.ini

# Environment & Configuration Credentials
config/config.php
config/database.php

