<IfModule mod_rewrite.c>
    RewriteEngine On

    # Direct access to static files if they exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other requests to index.php
    RewriteRule ^ index.php [L]
</IfModule>
